<<<<<<< HEAD
<h1>StaticPages#help</h1>
<p>Find me in app/views/static_pages/help.html.erb</p>
=======
<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  Help
</p>
>>>>>>> dab5974b994c4b42995a223f7f7f2e5106a1ebea
